<h2>Orders</h2>
<div>
  <form id="filter">
    <label>Filter orders by country name: </label>
    <input type="text" [(ngModel)]="term" name="ordersFilterInput">

    <button (click)="isGrouped = !isGrouped" class="btn btn-dark">Group By Name</button>

  </form>

  <div class="card" [hidden]="isGrouped" *ngFor="let order of orders | filter:term">
    <div class="card-body">
      <h3> Order ID: {{ order.id }}</h3>
      <p>Manager name: {{ order.managerName }}</p>
      <p>Organization name: {{ order.organization }}</p>
      <p>Number of athletes: {{ order.numberOfAthletes }}</p>
      <p>Country: {{ order.country }}</p>
      <p>Order status: {{ order.status }}</p>
      <h5>Requirements:</h5>
      <div>
        <p>Sauna required: {{ order.requirements.sauna }}</p>
        <p>Gym required: {{ order.requirements.gym }}</p>
        <p>numberOfTrainingsSessions: {{ order.requirements.numberOfTrainingsSession }}</p>
      </div>
    </div>
  </div>

  <div class="card" [hidden]="!isGrouped" *ngFor="let order of ordersGroupedByManagerName | filter:term">
      <div class="card-body">
        <h3> Order ID: {{ order.id }}</h3>
        <p>Manager name: {{ order.managerName }}</p>
        <p>Organization name: {{ order.organization }}</p>
        <p>Number of athletes: {{ order.numberOfAthletes }}</p>
        <p>Country: {{ order.country }}</p>
        <p>Order status: {{ order.status }}</p>
        <h5>Requirements:</h5>
        <div>
          <p>Sauna required: {{ order.requirements.sauna }}</p>
          <p>Gym required: {{ order.requirements.gym }}</p>
          <p>numberOfTrainingsSessions: {{ order.requirements.numberOfTrainingsSession }}</p>
        </div>
      </div>
    </div>

</div>